<IfModule mod_rewrite.c>
RewriteEngine On
SetEnvIf Host www.qwerty.zxc$ CI_ENV=production 
SetEnvIf Host test.qwerty.zxc$ CI_ENV=testing 
SetEnvIf Host localhost$ CI_ENV=development
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>